<!DOCTYPE html>
<html>
  <head>
    <title>Quiz App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
      <h1>Test your knowledge!</h1>
      <a href="/quiz">Start</a>
    </main>
  </body>
</html>
