<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script></script>
  </head>
  <body>
    <main>
      <h1>Welcome, <%= name %>!</h1>
      <a href="/quiz">Start Quiz</a>
      <div>
        <p>Past Scores: <%= scores %></p>
        <p>Highest Score: <%= highScore %></p>
      </div>
    </main>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
